.coverImg {

   background-image: url(coverImg.webp);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   min-block-size: 35vh;
   color: white;

}

.overlay {
   border-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .6), rgba(0, 0, 0, .9),
         rgba(0, 0, 0, 1)) fill 1;
}

main {
   margin-top: -2px;
}


.heroContent {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 2em;
   min-height: 35vh;
   justify-content: end;
   row-gap: 0;
   font-family: "Roboto", sans-serif;

}

.heroContent .heroBtn {
   padding: 8px 20px;
   font-size: 1.5vh;
   overflow: none;
   border-radius: 4px;
   margin-right: .5em;
   margin-top: 1em;
}

.servicesHeroBtn {
   background-color: var(--nav-blue);
   border: 1px solid var(--nav);
   color: white;
}

.contactHeroBtn {
   background-color: var(--light-blue);
   border: none;
   font-weight: 700;
   color: white;

}

.heroContent h1 {
   font-weight: 700;
   font-size: 5vw;
}

.heroContent h2 {
   font-weight: 400;
   font-size: 2vw;
}

.heroContent>h1,
h2 {
   margin: 5px 0;
}

/* about */
.aboutBreak{
   width: 20%;
    height: 2px;
     background-color: 
     var(--light-blue);
     margin: 0 auto;
}
.aboutSection {
   padding: 20px 15px;
   background-color: var(--nav-blue);
   color: white;
}

.aboutSection h1 {
   padding: 10px;
   font-size: 2em;
   background-color: var(--offset-blue);
}

.aboutSection .aboutText {
   padding: 5px;
   font-size: 1em;
   width: 100%;
   margin-top: -1.5em;
 

}

.aboutTitle {
   width: 40%;
   padding: 0;
   margin-top: -2em;
   
}

.aboutFlex {
   display: flex;
   gap: 15px;
}

@media (max-width: 750px) {
   .aboutSection .aboutText {
    
      margin-top: -3em;
    
   
   }
   .aboutFlex {
      display: flex;
      flex-direction: column;
      

   }
   .aboutTitle {
      width: 100%;
   }

   .heroContent {
      padding: 1em;
   }

   .aboutSection h1 {
      padding: 10px;
      font-size: 1.5em;
      background-color: var(--offset-blue);
   }

   .aboutSection .aboutText {
      padding: 5px;
      font-size: .8em;
      margin-right: 5px;
   }

     .card-container{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: .3rem;
     align-content: start;
     width: 100%;
     padding: 0;
       border: 3px solid yellow;
         overflow: hidden;
   }
   .card{
      background: white;
      border: 1px solid #777;
      border-radius: .25rem;
      overflow: hidden;
      min-height: 100px;
      max-width: auto;
      padding: .2em; 
      
      
   }
.card-body{
   padding: .2em;
   text-align: center;
}
}
/* cards */


.cards{
   padding: .8em; 
   background-color:var(--nav-blue) ;
}

.card-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: .8rem;
  align-content: start;
  width: 100%;
}


.card{
   background: white;
   border: 1px solid #777;
   border-radius: .25rem;
   overflow: hidden;
   min-height: 300px;
   max-width: auto;
   
}
.cards{
     display: flex;
  padding: 0;
   margin: 0;
 
   justify-content: center;
}

.card-footer{
   display: flex;
   justify-content: center;
   margin-top: 0;
   padding-top: .3em;
   padding-bottom: .8em;
}

.card-body{
   padding: .5em;
   text-align: center;
}
.card-body h2 {
   font-size: 1.6em;
   padding: .2em;
   margin: 0;
   color: var(--nav-blue);
}
.card-body p{
   font-size: .8em;
   padding: .2em;
   margin: 0;
   color: #333333;
}

.btn{
background-color: hsl(216, 86%, 30%);
border: none;
color: white;
padding: .5em .75em;
border-radius: .25em;
cursor: pointer;
}

.btn:hover, .btn:focus{
   background: hsl(216, 86%, 40%);
}

.btn.btn-outline{
   background: none;
   border: 1px solid var(--light-blue);
   color: var(--nav-blue)
}

.btn.btn-outline:hover, 
.btn.btn-outline:focus{
   background: var(--light-blue);
   color: white;
}

.card.shadow{
   border: 0;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.card-header.card-img{
   overflow: hidden;
   padding: 0;

}
.card-header.card-img > img {
   display: block;
   width: 100%;

   object-fit: cover;
   max-height: 200px;
   object-position: center;
   transition: 200m transform ease-in-out;

}
.card:hover > .card-header.card-img > img{
   transform: scale(1.025);
   
}

/* contact */
.contactHeader h1{
width: 100%;
text-align: left;
margin-left: .5em;
font-size: 1.8em;
color: white;
}
.contactHeader{
   background-color: var(--nav-blue);
   padding: 7px;
   margin: 0;
   width: 100%;
}
.contactwrap{
   width: 100%;
   padding: 0;
   margin: 0;

}

.contactOpt{
   display: flex;
  background-color:  var(--offset-blue);
  border-radius: 3px;
   max-width: 95%;
   margin: 0 auto ;
   padding: 1em;
   justify-content: space-around;
   column-gap: 1em;

   
}
.contactOpt button{
color: white;
border: solid 2px var(--light-blue);
background-color: var(--nav-blue);
border-radius: 7px;
padding: .2em 1em;
font-size: 2rem;
width: 100%;

}
.contactOpt button:hover{
   background-color: var(--light-blue)
}
/* form  */
input:focus {
   outline: 2px solid royalblue;
   box-shadow: 1px 1px 8px 1px royalblue;
 }

textarea {
 font-family: inherit;
 font-size: 100%;
 width:100%;
 height: 90px;
 padding: 5px;
 margin: 0;
 box-sizing: border-box;
 margin:0 auto;
 border: 3px solid var(--light-blue);
}
.formContainer{
   background-color: var(--nav-blue);
   width: 100%;
   height: auto;
   margin: 0;
   padding: 5px 5px 10px 5px;
  border: 1px var(--nav-blue) solid;
}

.formContainer  h1{
  padding: 0;
  color: white;
  width: 100%;
 margin-left: 1em;
}
.formContainer form{
   max-width: 95%;
   margin: 0 auto ;
   color: white;
  padding: 10px 18px;
   padding-bottom: 1em;
   border-radius: 4px;
   background-color:  var(--offset-blue);
   
}
.formContainer .personalInfo input{
   border: 3px solid var(--light-blue);
   min-height: 40px;
   margin-left: 10px;
   padding-left: 10px;
   width: 100%;
   margin-top: 10px;

}
.formContainer .personalInfo label{
   margin-left: 12px;
   font-size: .8em;
   
  
}
.personalInfo{
   font-size: 1.7em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 10px;
   grid-auto-flow: column;
}
fieldset{
   border: 3px solid var(--light-blue);
   padding: 1em;
   margin-left: 10px;
   margin-bottom: 2em;
  
}
.fieldInput{
   display: inline;
   font-size: 1.3em;
   margin-right: 1.2em;
}
legend{
 font-size: 1.8em;
}

textarea{
   display: block;
}
.formBottom{
      margin-left: 12px;
}
.formBottom label{
   display: block;
   font-size: 1em;
   margin-bottom: 8px;
}
.inputs{
padding: 10px;
} 
.formSubmitBtn{
   border: none;
   background-color: var(--light-blue);
   padding: 12px 12px;
   border-radius: 3px;
   font-size: 1rem;
   color: white;
   font-weight: 600;
}
.consent{
   display: flex;
}
.consent p {
 margin-left: 8px;

}
.btnflex{
   width: 100%;
   display: flex;
   justify-content: center;
}


/* reviews */ 
#slider {
   margin: 0 auto;
   width: 94%;
   width: 100%;
   text-align: center;
   
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
  
   border-radius: 3px;
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
  
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
  padding: 0 15px;
}
#slides .slide_1 {
   background: #00171F;
}
#slides .slide_2 {
   background: #003459;
}
#slides .slide_3 {
   background: #007EA7;
}
#slides .slide_4 {
   background: #00A8E8;
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}

.slide-content h5 {
  margin: 0;
}
.slide-content p{
   
   line-height: 1.3em;
   letter-spacing: .1em;
 }
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width:98%;
      margin: 0 auto;
     
      
   }
   #slides .slide{
      padding: 20px 15px;

   }
   .slide-content p{
   
font-size:.8rem ;
      
    }
}



@media (max-width: 850px){
   .personalInfo {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 8px;
      
      }
      .fieldInput{
         display: inline;
         font-size: 1em
      }
      fieldset{
         display: flex;
         justify-content: space-evenly;
      }

      .consent p {
         margin-left: 8px;
         font-size: .8em;
        
        }
        .consent{
         margin-bottom: 0;
         margin-top: 5px;
        }

        .contactOpt{
         column-gap: .4em;
      }
      .contactOpt button{
      border-radius: 7px;
      padding: .1em .5em;
      font-size: 1rem;
      
      
      }
}
